* {background-color: blue}
table, tr, th, td {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  min-width: 50px;
}
th {background-color: grey;
color: white;}


.three {background-color: red;}
.one {background-color: lightblue;}
.two {background-color: lightgreen;}

.table {align-items: center;}

.yellow {background-color: yellow}
.lightgreen {background-color: lightgreen; color: red}
.grey {background-color: grey; color: red}
.blue {background-color: blue}
