* {background-color: lavender}
#button {background-color: aliceblue}
.container {
    background-color: lavender;
    border: solid 1px black;
    border-radius: 3px;
    max-width: 510px;
    position: center;

}
input, textarea
  {border: solid 1px black;
    border-radius: 3px;}

  input.phone {max-width: 39px}
